<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.id}}" placeholder="ID" name="id">
        <label for="floatingInput">ID</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.subject}}" placeholder="Subject"
            name="subject">
        <label for="floatingInput">Subject</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.subject_code}}" placeholder="Subject Code"
            name="Subject_code">
        <label for="floatingInput">Subject Code</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.barrier_id}}" placeholder="Barrier id"
            name="Barrier_id">
        <label for="floatingInput">Barrier ID</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.concorrent_id}}" placeholder="Concurrent ID"
            name="concorrent_id">
        <label for="floatingInput">Concurrent ID</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.credit_hours}}" placeholder="Credit Hours"
            name="Credit Hours">
        <label for="floatingInput">Credit Hours</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.level_id}}" placeholder="Level ID"
            name="level_id">
        <label for="floatingInput">Level ID</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.program_id}}" placeholder="Program ID"
            name="program_id">
        <label for="floatingInput">Program ID</label>
    </div>
</div>
          <button type="submit" class="btn btn-primary">Submit</button>
