<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.id}}" placeholder="ID" name="id">
        <label for="floatingInput">ID</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.first_name}}" placeholder="First Name"
            name="first_name">
        <label for="floatingInput">First Name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.last_name}}" placeholder="Last Name"
            name="last_name">
        <label for="floatingInput">Last Name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="Email"
            name="email">
        <label for="floatingInput">Email</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.phone}}" placeholder="Phone"
            name="phone">
        <label for="floatingInput">Phone</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingInput" value="{{this.password}}" placeholder="Password"
            name="password">
        <label for="floatingInput">Password</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingInput" value="{{this.confirmedPassword}}"
            placeholder="Confirmed Password" name="confirmedPassword">
        <label for="floatingInput">Confirmed Password</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.status}}" placeholder="Status"
            name="status">
        <label for="floatingInput">Status</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Exam_Roll_number}}"
            placeholder="Exam Roll number" name="Exam_Roll_number">
        <label for="floatingInput">Exam Roll number</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" value="{{this.PU_Registration_num}}"
            placeholder="PU Registration number" name="PU_Registration_num">
        <label for="floatingInput">PU Registration No.</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.level}}" placeholder="Level"
            name="level">
        <label for="floatingInput">Level</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Program}}" placeholder="Program"
            name="Program">
        <label for="floatingInput">Program</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.Semester}}" placeholder="Semester"
            name="Semester">
        <label for="floatingInput">Semester</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.year}}" placeholder="Year" name="year">
        <label for="floatingInput">Year</label>
    </div>
</div>
<div>
    <form action="/" method="post" enctype="multipart/form-data">
        <h2>Upload Photo</h2>
        <input type="file" name="sampleFile" accept="image/">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>