<html>

<head>
    <title>Form</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
            margin-left: 5px;
            margin-right: 10px;
            /*margin-top: 0px;*/
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        /* Create three equal columns that floats next to each other */
        .columnnn {
            float: left;
            /*width: 33.33%;
    padding: 5px;*/
            height: 150px;
            /*margin-top: 5px;*/
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: small;
            color: rgb(125, 125, 230);
            /*background-color:#bbb; /* Should be removed. Only for demonstration */
        }

        /*Clear floats after the columns */
        .rowss:after {
            content: "";
            display: table;
            clear: both;
        }

        .details:after {
            content: "";
            display: table;
            clear: both;
        }

        .year:after {
            content: "";
            display: table;
            clear: both;
        }

        .signature:after {
            content: "";
            display: table;
            clear: both;
        }

        table,
        th,
        td {
            border: 1px solid;
            border-collapse: collapse;
        }

        /*.row{
            display: flex !important;
            flex-direction: row;
            justify-content: space-around;
        } */
    </style>
</head>


<body>
    <div class="rowss">
        <div class="columnnn" style="float: left;margin-left:0.5%;">
            <img src="../images/logo.jpg" alt="POKHARA UNIVERSITY" width="100" height="100">


        </div>
        <div class="columnnn" style="text-align: center; margin-left: 0%; ">
            <h4>POKHARA UNIVERSITY<br>Office of the Controller of Examinations<br>
                Trimnester/Yearly Examination<br>Entrance Card</h4>
            {{#each data}}

        </div>
        <div class="columnnn" style="margin-top:2px;  margin-left: 1%;">

            <img src="../images/upload_images/{{this.file_src}}" width="100" height="100">
        </div>
    </div>
    <form>
        {{!-- {{this.level_id}} --}}
        <div class="details" style="margin-left:10%; margin-right:10%">

            <div class="col1" style="float: left; width: 30%; ">
                <p>Exam Roll No. : {{this.Exam_Roll_number}}</p>

            </div>
            <div class="col1" style="float:left; ">
                <p>Exam Center :</p>

            </div>
        </div>
        <div class="name">
            <p>P.U Registration No. : {{this.PU_Registration_num}}</p>
        </div>
        <div class="name">
            <p>Name of the Student: {{this.first_name}} {{this.last_name}}</p>
        </div>
        <div class="col1" style="float: left;width: 30%; ">
            <p>Level : Bachelor</p>

        </div>
        <div class="col1" style="float:left;">
            <p>Program : {{this.Program}}</p>

        </div>
        <div class="year">
            <div class="col1" style="float: left;;width: 30%; clear: both; ">
                <p>Semester/Trimester/Year :

                    {{this.level}}

                </p>

            </div>
            <div class="col1" style="float:left; ">
                <p>Year : 2022</p>

            </div>
        </div>
        {{/each}}
        <div class="college" style="float:none ;clear: both; margin: 0px;padding: 0px;">
            <p>Name Of the College : Cosmos College of Management and Technology<br>For the appearance in the
                examination of the following courses as per course registered.</p>
            <h3>Regular Courses</h3>
        </div>
        <div class="regular">
            <table style="width:auto ; text-align: center; width: 100%;">
                <tr>
                    <th style="width: 3%;">S.No.</th>
                    <th style="width: 10%;">Course Code</th>
                    <th style="width: auto;">Course Title</th>
                    <th style="width:10% ;">Credit</th>
                    <th style="width:10% ;">Remarks</th>
                </tr>
                {{!-- {{#times 10}}
                <span>{{this}}</span>
                {{/times}} --}}

                <tr>
                    <td>1</td>
                    <td>MTH 212
                    </td>
                    <td>Engineering Mathematics III
                    </td>
                    <td>3</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>ELX 212 </td>
                    <td> Logic Circuits</td>
                    <td>3 </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>CMP 225</td>
                    <td> Data Structure and Algorithm</td>
                    <td>3 </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>MTH 221 </td>
                    <td>Probability and Queueing Theory</td>
                    <td> 2</td>
                    <td> </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>CMP 213 </td>
                    <td>Web Technology</td>
                    <td> 3</td>
                    <td> </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>ELX 213</td>
                    <td>Electronic Circuit and Instrumentation</td>
                    <td> 3</td>
                    <td> </td>
                </tr>
                <tr>
                    <td>7</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>8</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>

            </table>
        </div><br>

        <div class="re-register">
            <table style="width:auto ; text-align: center; clear: both; width: 100%;">
                <h3>Re-registered courses</h3>
                <tr>
                    <th style="width: 3%;">S.No.</th>
                    <th style="width: 10%;">Course Code</th>
                    <th style="width: auto;">Course Title</th>
                    <th style="width:10% ;">Credit</th>
                    <th style="width:10% ;">Remarks</th>
                </tr>
                <tr>

                    <td>1</td>
                    <td> MTH112
                    </td>
                    <td>Engineering Mathematics I </td>
                    <td> 3</td>
                    <td> </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td> ENG111</td>
                    <td>Communication Technique </td>
                    <td>2 </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>PHY111 </td>
                    <td>Physics </td>
                    <td>3 </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
            </table>

        </div>
        <div class="signature" style="margin-top:2%; margin-right:0%;">

            <div class="col1" style="float: left;;width: 30%; ">
                <p>Signature of the student : </p>

            </div>
            <div class="col1" style="float:left; margin-left:10% ;">
                <p>Date :2022-9-22</p>

            </div>
        </div>
    </form>
</body>

</html>